{% extends 'base.html'%}

{% block content %}
<main id="main" data-aos="fade-in">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">

        <h2>{{single_product.course_name}}</</h2>


      </div>
    </div><!-- End Breadcrumbs -->


    <div class="chemistry">
        <center><div class="chem" style="color: rgb(88, 165, 10); font-weight: bolder;">{{single_product.course_name}}</div></center>



        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">s.no</th>
              <th scope="col">Subject</th>
              <th scope="col">Notes</th>
              <th scope="col">Paper</th>
              <th scope="col">book</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td style=" word-wrap:break-word;">Mark jucker is a goodk j  j jn </td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>@mdo</td>
            </tr>

          </tbody>
        </table>


{% endblock %}
