{% extends 'base.html'%}
{% load static %}

{% block content %}
<title>Home</title>

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1>RECTECH<br>READ EFFECTIVE COURSE FOR TECHNOLOGY</h1>
      <h2>We are here to provide you best quality of notes for your semester exam.</h2>
      <a href="courses.html" class="btn-get-started">Get Started</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">



<!-- ======= Why Us Section ======= -->
<section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
  <div class="container">

    <div class="row">
      <div class="col-lg-6 video-box">
        {% load static %}
        <img src="{% static 'assets/img/why-us.jpg'%}" class="img-fluid" alt="">
        <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
      </div>

      <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

        <div class="icon-box">
          <div class="icon"> <i class="fa fa-newspaper-o" aria-hidden="true"></i></div>
          <h4 class="title"><a href="">Our Vision</a></h4>
          <p class="description">We are a technology company focused on bridging the gap between demand for and access to quality education through the process of decentralizing the traditional method of learning.</p>
        </div>

        <div class="icon-box">
          <div class="icon"> <i class="fa fa-newspaper-o" aria-hidden="true"></i></div>
          <h4 class="title"><a href="">Our Mission</a></h4>
          <p class="description">The fact is that people learn in lots of different ways, and depending on the subject, you may choose a different method to learn along the way. To reduce barriers in learning, it is important to provide appropriate support, making information equally accessible to all learners by presenting the same content in varying materials.At RECTECH we believe in education .Our mission is to remove any Educational,Technical and Financial barriers by providing them an authenticated source of learning at RECTECH.</p>
        </div>

      </div>
    </div>

  </div>
</section><!-- End Why Us Section -->

<!-- ======= Features Section ======= -->
<section class="features">
  <div class="container">

    <div class="section-title">
      <h2>About us </h2>

    </div>
    {% load static %}

    <div class="row" data-aos="fade-up">
      <div class="col-md-5">
        <img src="{% static 'assets/img//features-1.svg'%}" class="img-fluid" alt="">
      </div>
      <div class="col-md-7 pt-4" style="background-color: rgb(155, 253, 179);">
        <h2 style="color: rgb(5, 170, 5);">What is RECTECH</h2>
        <p>
          Rectech is a digital online learning platform which enables students to take full Advantafges of the notes of all the engineering subjects  .It's main objective is to cover all those area of interest of students which are left untouched or touched occassionly. This site is beneficial for all those students who are in trouble of having proper and sequential notes.

          Rec –Tech is a website which Faciliate engineering students with hand written notes of all subjects.

          There is availibility of soft copies of notes  and books as well.
          This site is Beneficial for all those students who are facing diffculties to finding proper and sequential note.

        </p>
        </p>

      </div>
    </div>

    <div class="row" data-aos="fade-up">
      <div class="col-md-5 order-1 order-md-2">
        <img src="{% static 'assets/img/features-2.svg'%}" class="img-fluid" alt="">
      </div>
      <div class="col-md-7 pt-5 order-2 order-md-1" style="background-color: rgb(155, 253, 179);">
        <h2  style="color: rgb(7, 160, 7);">Our mission</h2>
        <p>
          RECTECH is an  technology company focused on bridging the gap between demand for and access to quality education through the process of decentralizing the traditional method of learning.
          At RECTECH we believe in education .Our mission is to remove any Educational,Technical and Financial barriers by providing them an authenticated source of learning at RECTECH.
        </p>


      </div>
    </div>

    <div class="row" data-aos="fade-up">
      <div class="col-md-5">
        <img src="{% static 'assets/img/features-2.svg'%}" class="img-fluid" alt="">
      </div>
      <div class="col-md-7 pt-5" style="background-color: rgb(155, 253, 179);">
        <h2 style="color: rgb(8, 177, 8);">Our Vision</h2>
        <p>Our vision is to ensure the continuity of education across all levels worldwide through the implementation of the best learning technology .We are here to provide the best and quality education <br>Our goal is to provide a better learning experience for individuals and drive effective management of all related processes to significantly improve learning delivery for institutions. <br>
     We will be trying to brought the videos lectures and we are also trying to cover the academic section like board exams and also trying to bring the resources for competitive exams.</p>


      </div>
    </div>

    <div class="row" data-aos="fade-up">
      <div class="col-md-5 order-1 order-md-2">
        <img src="{% static 'assets/img/features-4.svg'%}" class="img-fluid" alt="">
      </div>
      <div class="col-md-7 pt-5 order-2 order-md-1" style="background-color: rgb(153, 254, 179);">
        <h2 style="color: rgb(1, 156, 1);">How RECTECH is different from the other website </h2>
        <p>

          Rectech provides notes of all subjects of all the year of b.tech course of most universities of the India .
         The notes provided at the RECTECH platform is handwritten and it covers all te topics of the syllabus which are useful for them for their semester exams as well as for competitive exam purpose .
         The notes available here is prepared by the top students of the most colleges.
         Our team is always there to work consistently for all around development of an individual .

      </div>
    </div>

  </div>
</section><!-- End Features Section -->

    <!-- End About Section -->



    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3>Why Choose RECTECH?</h3>
              <p>
                In today's world, everything is changing from offline to online .Onlinelearnning helps you to get resources to learn whatever you want to learn but there is always a problem of finding a good and systematic resources to start learning .RECTECH is a website portal that helps you to find ethical and beneficial study materials for your exam preparation. Our mission is to provide notes for Engineering students so they can enlarge their knowledge and can prepare well for their examination.
              </p>
              <div class="text-center">
                <a href="about.html" class="more-btn">Learn More <i class="fas fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="fa fa-newspaper-o" aria-hidden="true"></i>

                    <h4>HANDWRITTEN NOTES</h4>
                    <p>HERE WE ARE PROVIDING THE BEST QUALITIES OF HANDWRITTEN NOTES , WHICH WILL HELP YOU FOR YOUR SEMESTER EXAMINATION.</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="fa fa-newspaper-o" aria-hidden="true"></i>

                    <h4>SYLLABUS</h4>
                    <p>SYLLABUS OF EACH YEAR OF AKTU UNIVERSITY</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="fa fa-video-camera" aria-hidden="true"></i>

                    <h4>ONLINE LECTURES</h4>
                    <p>HERE FIND BEST ONLINE LECTURES RELATED TO YOUR CONFUSION IN YOUR SUBJECT.</p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->



    <!-- ======= Popular Courses Section ======= -->
    <section id="popular-courses" class="courses">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>NOTES</h2>
          <p>POPULAR NOTES</p>
        </div>

          <div class="container" data-aos="fade-up">

            <div class="row" data-aos="zoom-in" data-aos-delay="100">

              <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <a href="https://drive.google.com/file/d/1kwkFAxbsK61fuIYuhW3TQzRDnISF0Lgu/view?usp=sharing">
                <div class="course-item">

                    {% load static %}
                    <img src="{% static 'assets/img/02.jpeg'%}" class="img-fluid" alt="basic electrical">

                  <div class="course-content">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                      <h4>DC CIRCUIT</h4>

                    </div>

                    <h3><a href="https://drive.google.com/file/d/1kwkFAxbsK61fuIYuhW3TQzRDnISF0Lgu/view?usp=sharing">BASIC ELECTRICAL ENGINEERING</a></h3>


                  </div>
                </div>
              </a>
              </div> <!-- End Course Item-->
   <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <a href="https://drive.google.com/file/d/11pmQMGAPN0XaYpL8jr-KFeHent1FTIUL/view?usp=drivesdk">
                    <div class="course-item">

                         {% load static %}
              <img src="{% static 'assets/img/03.jpeg'%}" class="img-fluid" alt="mathematics1">

                      <div class="course-content">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                          <h4>MATRIX</h4>

                        </div>

                        <h3><a href="https://drive.google.com/file/d/11pmQMGAPN0XaYpL8jr-KFeHent1FTIUL/view?usp=drivesdk">ENGINEERING MATHEMATICS 1</a></h3>


                      </div>
                    </div>
                  </a>
                  </div>


               <!-- End Course Item-->
               <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <a href="https://drive.google.com/file/d/1kwkFAxbsK61fuIYuhW3TQzRDnISF0Lgu/view?usp=sharing">
                <div class="course-item">


              <img src="{% static 'assets/img/01.jpeg'%}" class="img-fluid" alt="Artificial intelligence">

                  <div class="course-content">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                      <h4>DATA AND ALGORITHM</h4>

                    </div>

                    <h3><a href="https://drive.google.com/file/d/1kwkFAxbsK61fuIYuhW3TQzRDnISF0Lgu/view?usp=sharing">ARTIFICIAL INTELLIGENCE</a></h3>


                  </div>
                </div>
              </a>
              </div>

              <!-- End Course Item-->

            </div>

          </div>
        </section>

        <!-- End Popular Courses Section -->


    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Testimonials</h2>

        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'assets/img/01.jpeg'%}" class="testimonial-img" alt="">
                  <h3>Saul Goodman</h3>
                  <h4>Ceo &amp; Founder</h4>
                  <p>
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                    Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                    <i class="fa fa-quote-right" aria-hidden="true"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'assets/img/01.jpeg'%}" class="testimonial-img" alt="">
                  <h3>Sara Wilsson</h3>
                  <h4>Designer</h4>
                  <p>
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                    Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                    <i class="fa fa-quote-right" aria-hidden="true"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'assets/img/01.jpeg'%}" class="testimonial-img" alt="">
                  <h3>Jena Karlis</h3>
                  <h4>Store Owner</h4>
                  <p>
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                    Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                    <i class="fa fa-quote-right" aria-hidden="true"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'assets/img/01.jpeg'%}" class="testimonial-img" alt="">
                  <h3>Matt Brandon</h3>
                  <h4>Freelancer</h4>
                  <p>
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                    Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                    <i class="fa fa-quote-right" aria-hidden="true"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'assets/img//01.jpeg'%}" class="testimonial-img" alt="">
                  <h3>John Larson</h3>
                  <h4>Entrepreneur</h4>
                  <p>
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                    Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat esse veniam culpa fore nisi cillum quid.
                    <i class="fa fa-quote-right" aria-hidden="true"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->
  </main><!-- End #main -->


{% endblock %}
